
.header {
    align-items:center;
    justify-content:center;
    display:flex;
}

@font-face {
    font-family: "Trend Sans W00 Four";
    src: url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot");
    src: url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/33ca94f43a53fc634323a6fe191ffd64.svg#Trend Sans W00 Four")format("svg");
}

.header h1 {
    font-size:3em;
    font-family: "Trend Sans W00 Four";
    font-weight: normal;
    background-color: rgb(238, 99, 99);
    color:white;
    padding:0 5px;
    margin:0;
    margin-left:.2em;
    font-style:italic;
    letter-spacing:1.6px;
}

.content-wrapper {
    position:relative;
    bottom:9px;
    display:flex;
    height:60%;
    width:91.67%;
    border-bottom:1px solid white;
    padding-bottom:1px;
    justify-content:space-between;
    align-items:end;
}

.navlist {
    color:rgb(238, 99, 99);
    font-family:"Open Sans",serif;
    line-height:30px;
    list-style:none;
    display:flex;
    align-items:end;
    padding:0;
    margin:0;
}

.navlist li {
    font-size:1.5em;
    letter-spacing:4px;
    padding:0 1em;
    transition:color 400ms ease;
}

.navlist a {
    text-decoration:none;
    color:inherit;
}
.navlist li:hover {
    cursor:pointer;
    color: white !important;
}

.navlist li:not(:last-child) {
    border-right: 1px solid white;
}

.nav {
    padding-bottom:.6em;
    padding-right:2em;
}

.mystuff {
    position:relative;
}

.TheStuff {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    color:rgb(238, 99, 99);
    padding:8px;
    list-style:none;
    background: rgb(41, 41, 41);
    z-index:1;
    width:93%;
}

.TheStuff li {
    font-size: .8em;
    border-right:none !important;
    padding:5px;
    letter-spacing:0;
    text-align:left;
}

.TheStuff li:not(:last-child) {
    border-bottom: 1px solid white;
}

.TheStuff li:hover {
    color:white;
}

.mystuff:hover .TheStuff {
    display:block;
}

.header {
    text-decoration:none;
}