.blog {
    height:100%;
    width:60%;
    margin:auto auto;
    display:grid;
    grid-template-rows:1fr 9fr;
    grid-template-columns:1fr;
}

.blogNav {
    padding:2em;
}

.blogNav ul {
    margin:0;
    padding: 0;
    list-style:none;
    display:flex;
    font-size:1.2em;
}

.blogNav li {
    padding:.5em 1.5em;
    color:white;
    font-weight:bold;
}

.blogNav li:hover {
    cursor:pointer;
    color: #afe6a3;
}

.posts {
    width:90%;
    height:100%;
    margin:auto;
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}