.home {
    background-color: rgb(238, 99, 99);
    height:100%;
    width:100%;
    z-index: 1;
}

.videoHolder {
    display:flex;
    margin:auto;
    justify-content:center;
    align-items:center;
    height:100%;
}

.videoPlayer {
    border:5px solid var(--watermelon);
}